
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* background-color: #f2f2f2; */
}
.headerTitles{
    display: flex;
    flex-direction: column;
    font-family: 'Lora', serif;
    align-items: center;
}

.headerTitleSm{
    top: 18%;
    font-size: 35px;
    color: #444;
}

.headerTitleLg{
    top: 10%;
    font-size: 60px;
    color: rgb(39, 38, 38);
}

.headerImg{
    width: 100px;
    object-fit: contain;
    
    /* margin-top: 80px; */
}